{% extends 'baseBack.html.twig' %}

{% block title %}maintenances index
{% endblock %}

{% block body %}
	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold">
			Liste des maintenances
		</h4>
		<a type="button" class="btn btn-primary mb-3" href="{{ path('app_maintenances_new') }}">Create new</a>

		<div class="card">
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>َ
							<th>Date</th>
							<th>Type</th>
							<th>Status</th>
							 <th>Archive</th> 
							<th>actions</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						{% for maintenance in maintenances %}
							<tr>
								<td>{{ maintenance.id }}</td>
								<td>{{ maintenance.date ? maintenance.date|date('Y-m-d') : '' }}</td>
								<td>{{ maintenance.type }}</td>
								<td>{{ maintenance.status }}</td>
								<td>{{ maintenance.archive ? 'Yes' : 'No' }}</td>
								<td>
									<div class="dropdown">
										<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
											<i class="bx bx-dots-vertical-rounded"></i>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="{{ path('app_maintenances_show', {'id': maintenance.id}) }}">Show</a>
											<a class="dropdown-item" href="{{ path('app_maintenances_edit', {'id': maintenance.id}) }}">Edit</a>

										</div>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="21">No records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>


{% endblock %}
