<div class="container-xxl flex-grow-1 container-p-y">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="mb-3">
		{{ form_label(form.cout) }}
		{{ form_widget(form.cout, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.cout) }}
	</div>
	<div class="mb-3">
		{{ form_label(form.pieceschangees) }}
		{{ form_widget(form.pieceschangees, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.pieceschangees) }}
	</div>
	<div class="mb-3">
		{{ form_label(form.tachesrealisees) }}
		{{ form_widget(form.tachesrealisees, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.tachesrealisees) }}
	</div>
	<div class="mb-3">
		{{ form_label(form.description) }}
		{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.description) }}
	</div>
	{#<div class="mb-3">
				{{ form_label(form.archive, 'Archive', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.archive, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.archive) }}
			</div>#}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}
	<a href="{{ path('app_maintenances_index') }}">Retour à la liste</a>
</div>
